/*html {
	background: url('../images/space.jpg') bottom center;
	background-size: cover;
}*/

.card-columns {
  @include media-breakpoint-only(md) {
    column-count: 2;
  }
 
}
.row {
	margin-top: 3%;
}

.card.text-center.choose.player {
	border: 1px solid darkgrey;
}
